.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-top: 20px;
}



.statTitle {
    margin-top: 40px;
}

.statContainer {
    width: 100%;
}

.statItem {
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: row;
}

.statItem p {
    margin-left: 20px;
    margin-right: 20px;
}

.statItem div {
    flex-grow: 1;
    margin-right: 20px;
}

.statItem div {
    width: 50%;
}